										/*CSS resets*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
	margin:0;
	padding:0;
	outline:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;}

a, a:hover{text-decoration: none;}
.clearfix:before,.clearfix:after{
	content:"";
	display: table;}
.clearfix:after {clear:both;}

								/*MIXINS TO USE*/

.left {float:left;}
.right {float:right;}
.container{
	width: 1140px;
	margin: 0 auto;
	padding:0 20px;
}
.text-align{
	text-align: center;
}
.paddingSection{
	padding: 120px 0;
}

.titles{
	font: 700 40px/40px 'Titillium Web', arial, sans-serif;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.titleUnderline{
	margin:0 auto;
	content:"";
	display: block;
	width: 90px;
	height:4px;
	margin-top: 20px;
	background-color: rgba(0,0,0,0.15);
}
.descrs{
	font: 300 18px/26px 'Titillium Web', arial, sans-serif;
	
}

								/*Variables*/

@textMainColor: #fff;

									/*Header*/
header{
	position:absolute;
	width:100%;
	top:20px;
		.logo{
			.left();
			.logo__image{
				display: block;
			}
		}
		.nav{
			padding-top:12px;
			.right();	
			li{
				margin-right:30px;
				&:last-child{
					margin-right:0;
				}
				.left();
				a{
				display: block;
				padding: 5px 10px;
				font: 16px/18px 'Titillium Web', arial, sans-serif;
				color: @textMainColor;
				text-transform: uppercase;
				}
				&:hover{
					background-color: #643a79;
					border-radius: 4px;
				}
			}
		}
	}
	
									/*Home Block*/	

#home{
	background-color: #87509c;
	padding-top: 230px;
	.text-align();
	.home__header{
		color: @textMainColor;
		font: bold 42px/48px 'Titillium Web', arial, sans-serif;
		margin-bottom: 50px;
	}
	.home__button{
		background-color: #eb7d4b;
		padding: 25px 80px;
		margin-bottom: 140px;
		color: @textMainColor;
		font: 18px/26px 'Titillium Web', arial, sans-serif;
		text-transform: uppercase;
		cursor: pointer;
		display: inline-block;
		border-radius: 4px;
		box-shadow: inset 0px -4px rgba(0,0,0,0.15);
	}
}

									/*Services Block*/	
#services{
	background-color: #17c2a4;
	.paddingSection();
	.text-align();
	color: @textMainColor;
	.title{
		.titles();
		&:after{
			.titleUnderline();
		} 
	}
	.descr{
		.descrs();
	}
	.services__wrap{
		padding-top: 70px;
		.s__item{
			margin-right: 8%/3;
			.left();
			width: 23%;
			padding: 0 30px;
			&:last-child{
			margin-right: 0;	
			}
			&__title{
				font: 18px/18px 'Titillium Web', arial, sans-serif;
				text-transform: uppercase;
				margin-top: 60px;
			}
			&__descr{
				margin-top: 25px;
				font: 300 16px/24px 'Titillium Web', arial, sans-serif;
			}
		}

	}
}

/*Services Block*/	
#team{
	background-color: #e7f1f8;
	.paddingSection();
	.text-align();
	color: #000;
	.title{
		.titles();
		&:after{
			.titleUnderline();
		} 
	}
	.descr{
		.descrs();
	}
	.team__wrap{
		padding-top: 70px;
		.t__item{
			margin-right: 8%/3;
			.left();
			width: 23%;
			padding: 0 30px;
			&:last-child{
			margin-right: 0;	
			}
			&__pic{
				background: #878787; 
				width:200px;
				height:200px;
				border-radius: 50%;
			}
			&__title{
				font: 700 18px/18px 'Titillium Web', arial, sans-serif;
				text-transform: uppercase;
				margin-top: 60px;
			}
			&__pos{
				margin-top: 15px;
				color: #30bae7;
				font: 400 16px/16px 'Titillium Web', arial, sans-serif;
			}
			&__descr{
				margin-top: 20px;
				font: 300 16px/24px 'Titillium Web', arial, sans-serif;
			}
			&__social{
				margin-top: 25px;
				a{
					display: inline-block;
					width: 40px;
					height: 40px;
					background: #bdd1df url(../images/social-icon.png);
					border-radius: 50%;
					margin-right:5px;
					&:hover{
						background-color: #30bae7;
					}
				}
				.team-face{
					background-position:0 0; 
				}
				.team-twit{
					background-position: -40px 0;
				}
				.team-linked{
					background-position: -80px 0;
				}
				.team-mail{
					background-position: -120px 0;
				}
			}
		}

	}
}









