										/*CSS resets*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
	margin:0;
	padding:0;
	outline:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;}

a, a:hover{text-decoration: none;}
.clearfix:before,.clearfix:after{
	content:"";
	display: table;}
.clearfix:after {clear:both;}
								/*Variables*/

@textMainColor: #fff;
@paddingContainerMarginItems: percentage(20/1140);
@wrapped4ItemsWidth: percentage(260/1140);
@wrapped2ItemsWidth: percentage(540/1140);
@inputsWidth: percentage(860/1140);

// media queries

@mobile: ~"only screen and (max-width:359px)";
@mobileLandscape: ~"only screen and (max-width:568px)";
@tablet:   ~"only screen and (max-width:768px)";
@tabletLarge: ~"only screen and (max-width:959px)";
@desktop: ~"only screen and (max-width:1139px)";

								/*MIXINS TO USE*/

.left {float:left;}
.right {float:right;}
.container{
	max-width: 1140px;
	margin: 0 auto;
	padding:0 @paddingContainerMarginItems;
}

.text-align{
	text-align: center;
}
.paddingSection{
	padding: 120px 0;
	@media @tabletLarge {
		padding: 100px 0;
	}
	@media @tablet {
		padding: 80px 0;
	}
	@media @mobileLandscape {
		padding: 60px 0;
	}

}

.titles{
	font: 700 40px/40px 'Titillium Web', arial, sans-serif;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-bottom: 20px;
	@media @tabletLarge {
		font: 700 38px/38px 'Titillium Web', arial, sans-serif;
	}
	@media @tablet {
		font: 700 36px/36px 'Titillium Web', arial, sans-serif;
	}
	@media @mobileLandscape{
		font: 700 34px/34px 'Titillium Web', arial, sans-serif;
	}
	@media @mobile{
		font: 700 32px/32px 'Titillium Web', arial, sans-serif;
		margin-bottom: 11px;
	}
}
.titleUnderline{
	margin:0 auto;
	content:"";
	display: block;
	width: 90px;
	height:4px;
	margin-top: 20px;
	background-color: rgba(0,0,0,0.15);
	@media @mobile{
		margin-top: 15px;
	}
}
.descrs{
	font: 300 20px/26px 'Titillium Web', arial, sans-serif;
	margin-bottom: 70px;
	@media @tabletLarge{
		margin-bottom: 60px;
	}
	@media @tablet {
		font: 18px/24px 'Titillium Web', arial, sans-serif;
		margin-bottom: 50px;
	}
	@media @mobileLandscape {
		font: 16px/22px 'Titillium Web', arial, sans-serif;
		margin-bottom: 40px;
	}
	@media @mobile {
		line-height: 20px;
		margin-bottom: 30px;
	}

}



									/*Header*/
#header{
	z-index:1;
	position:absolute;
	width:100%;
	top:20px;
		.logo{
			.left();
			.logo__image{
				display: block;
				@media @tabletLarge{
					width:90%;
				}
			}
		}
	&.header-fixed{
		position:fixed;
		top:0;
		width:100%;
		padding: 10px 0 10px;
		background-color: #87509c;
		opacity:0.9;
	}
	.header__menu {
		display: none;
		float:right;
		color:white;
		font: 15px/15px 'Titillium Web', arial, sans-serif;
		text-transform: uppercase;
		padding: 10px;
		@media @mobileLandscape{
			display:block;
			margin-top: 5px;
			&:active{
			background-color: #643a79;
			border-radius: 4px;
			}
		}	
	}
		.nav{
		 /// change on mobile portrait
			padding-top:10px;
			float:right;
			@media @mobileLandscape{
					display:none;
					position:absolute;
					padding-top:0;
					top:100%;
					right:0;
					left:0;
					opacity: 0.9;
				}	
			li{
				float:left;
				margin-right:30px;
				@media @tabletLarge{
					margin-right:15px;
				}
				@media @tablet {
					margin-right:10px;
				}
				@media @mobileLandscape{
					float:none;
					margin-right:0;
					text-align: center;
					background-color: #87509c;
					opacity:0.9px;
				}
				&:last-child{margin-right:0;}
				a{
					display: block;
					padding: 5px 10px;
					font: 16px/16px 'Titillium Web', arial, sans-serif;
					color: @textMainColor;
					text-transform: uppercase;
					&:hover{
						background-color: #643a79;
						border-radius: 4px;
						@media @mobileLandscape{border-radius: 0;}
					}
					@media @tabletLarge{
						font: 15px/15px 'Titillium Web', arial, sans-serif;
						padding: 4px 8px;
					}
					@media @tablet {
						font: 14px/14px 'Titillium Web', arial, sans-serif;
						padding: 4px 8px;
					}
					@media @mobileLandscape{padding: 15px;}
				}
			}
		}
	}
	
									/*Home Block*/	

#home{
	background-color: #87509c;
	padding-top: 230px;
	@media @tabletLarge{
		padding-top: 180px;
	}
	@media @tablet{
		padding-top: 120px;
	}
	.text-align();
	.home__header{
		color: @textMainColor;
		font: bold 42px/48px 'Titillium Web', arial, sans-serif;
		margin-bottom: 50px;
		@media @tabletLarge{
			font: bold 40px/44px 'Titillium Web', arial, sans-serif;
		}
		@media @tablet {
			font: bold 38px/42px 'Titillium Web', arial, sans-serif;
		}
		@media @mobileLandscape {
			font: bold 36px/40px 'Titillium Web', arial, sans-serif;
		}
		@media @mobile {
			font: bold 34px/36px 'Titillium Web', arial, sans-serif;
		}
	}
	.home__button{
		background-color: #eb7d4b;
		padding: 25px 80px;
		margin-bottom: 140px;
		color: @textMainColor;
		font: 18px/26px 'Titillium Web', arial, sans-serif;
		text-transform: uppercase;
		cursor: pointer;
		display: inline-block;
		border-radius: 4px;
		box-shadow: inset 0px -4px rgba(0,0,0,0.15);
		@media @tabletLarge{
			margin-bottom: 100px;
			padding: 20px 60px;
		}
		@media @tablet {
			padding: 15px 50px;
			margin-bottom: 90px;
		}
		@media @mobileLandscape {
			padding: 15px 40px;
			margin-bottom: 90px;
		}
	}
}

									/*Services Block*/	
#services{
	background-color: #17c2a4;
	.paddingSection();
	.text-align();
	color: @textMainColor;
	.title{
		.titles();
		&:after{
			.titleUnderline();
		} 
	}
	.descr{
		.descrs();
	}
	.services__wrap{
		width:100%;		
		text-align: justify;
		font-size: 0.1px;
		&:after{
			content:'';
			width:100%;
			display: inline-block;
		}
		.s__item{
			vertical-align: top;
			width: @wrapped4ItemsWidth;
			padding: 0 30px;
			display: inline-block;
			text-align: center;
			@media @tabletLarge{
				padding: 0 15px;	
			}
			@media @tablet {
				&.bottom{
					margin-top: 20px;
				}
				width: @wrapped2ItemsWidth;
				padding: 0 10px;
  				/*think what to do with pics*/
			}
			&__title{
				font: 18px/18px 'Titillium Web', arial, sans-serif;
				text-transform: uppercase;
				margin-top: 60px;
				@media @tabletLarge{
					margin-top: 50px;
				}
				@media @tablet{
					margin-top: 45px;
				}
				@media @mobileLandscape{
					font: 16px/16px 'Titillium Web', arial, sans-serif;
					margin-top: 35px;
				}

			}
			&__descr{
				margin-top: 25px;
				font: 300 16px/24px 'Titillium Web', arial, sans-serif;
				@media @tabletLarge{
				margin-top: 20px;	
				font: 300 15px/22px 'Titillium Web', arial, sans-serif;
				}
				@media @tablet{
					margin-top: 15px;
				}
				@media @mobileLandscape{
					font: 300 14px/16px 'Titillium Web', arial, sans-serif;
					margin-top: 10px;
				}
			
			}
			&__pic{
				img{
				max-width: 189px;
				width:100%;
				height:auto;
				}
			}
		}
	}
}

/*Team Block*/	
#team{
	background-color: #e7f1f8;
	.paddingSection();
	.text-align();
	.title{
		.titles();
		&:after{
			.titleUnderline();
		} 
	}
	.descr{
		.descrs();
	}
	.team__wrap{
		width:100%;		
		text-align: justify;
		font-size: 0.1px;
		&:after{
			content:'';
			width:100%;
			display: inline-block;
		}
		.t__item{
			vertical-align: top;
			width: @wrapped4ItemsWidth;
			padding: 0 18px;
			display: inline-block;
			text-align: center;
			@media @tabletLarge{
				padding: 0 15px;	
			}
			@media @tablet {
				&.bottom{
					margin-top: 20px;
				}
				width: @wrapped2ItemsWidth;
				padding: 0 10px;
			}

			&__pic{
				margin: 0 auto;
				background: #878787; 
				width: 180px;
				height:180px; // adjust to media size
				border-radius: 50%;
				overflow: hidden;
				@media @tabletLarge{
					width: 160px;
					height:160px;	
				}
				@media @tablet{
					width: 140px;
					height:140px;
				}
				@media @mobileLandscape{
					width: 120px;
					height:120px;
				}
				img{
					width:100%;
					height:100%;

				}
			}
			&__title{
				font: 700 18px/18px 'Titillium Web', arial, sans-serif;
				text-transform: uppercase;
				margin-top: 60px;
				@media @tabletLarge{
					margin-top: 50px;
				}
				@media @tablet{
					margin-top: 45px;
				}
				@media @mobileLandscape{
					font: 700 16px/16px 'Titillium Web', arial, sans-serif;
					margin-top: 35px;
				}

			}
			&__pos{
				margin-top: 15px;
				color: #30bae7;
				font: 400 16px/16px 'Titillium Web', arial, sans-serif;
				@media @tablet{
					font: 400 14px/14px 'Titillium Web', arial, sans-serif;	
					margin-top: 10px;
				}
				@media @mobileLandscape{
					font: 400 13px/13px 'Titillium Web', arial, sans-serif;
					
				}
			}
			&__descr{
				margin-top: 25px;
				font: 300 16px/24px 'Titillium Web', arial, sans-serif;
				@media @tabletLarge{
				margin-top: 20px;	
				font: 300 15px/22px 'Titillium Web', arial, sans-serif;
				}
				@media @tablet{
					margin-top: 15px;
				}
				@media @mobileLandscape{
					font: 300 14px/16px 'Titillium Web', arial, sans-serif;
					margin-top: 10px;
				}
			}
			&__social{
				margin-top: 25px;
				@media @tablet{
					margin-top: 10px;
					margin-bottom: 10px;
				}
				@media @mobile{
					width:100%;		
					text-align: justify;
					font-size: 0.1px;
					&:after{
					content:'';
					width:100%;
					display: inline-block;
					}
				}
				a{
					display: inline-block;
					width: 40px;
					height: 40px;
					background: #bdd1df url(../images/social-icon.png);
					border-radius: 50%;
					margin-right:3px;
					@media @tabletLarge{
						width: 30px;    // think how to change with position on media!!!
						height: 30px;
					}
					@media @mobile{
						margin-right:0;
						vertical-align: top;
					}
					&:last-child{
						margin-right:0;
					}
					&:hover{
						background-color: #30bae7;
					}
				}
				.team-face{
					background-position: 0 0;
					@media @tabletLarge{
					background-position: -5px -5px;	
					} 
				}
				.team-twit{
					background-position: -40px 0;
					@media @tabletLarge{
					background-position: -45px -5px;	
					} 
				}
				.team-linked{
					background-position: -80px 0;
					@media @tabletLarge{
					background-position: -85px -5px;	
					} 
				}
				.team-mail{
					background-position: -120px 0;
					@media @tabletLarge{
					background-position: -125px -5px;	
					} 
				}
			}
		}

	}
}

/*Skills Block*/
				@step:1;
				@colorUnprogressed: #dfe8ed;
				@loops: round(100/@step);
				@increment: 360/@loops;
				@half: round(@loops/2);
				.loop(@i,@bg-color) when (@i<@loops) {
					@class: @i*@step;
					&.progress-@{class} when (@i < @half) {
						@nextdeg: 90deg + (@increment* @i);
						background-image: linear-gradient(90deg,#dfe8ed 50%, transparent 50%, transparent),
						linear-gradient(@nextdeg, @bg-color 50%, #dfe8ed 50%, #dfe8ed);
					}
					&.progress-@{class} when (@i >= @half){
						@nextdeg: -90deg + (@increment*(@i - @half));
						background-image: linear-gradient(@nextdeg, @bg-color 50%, transparent 50%, transparent),
						linear-gradient(270deg, @bg-color 50%, #dfe8ed 50%, #dfe8ed);
					}
				}

#skills{
	background-color: #fff;
	.paddingSection();
	.text-align();
	.title{
		.titles();
		&:after{
			.titleUnderline();
		} 
	}
	.descr{
		.descrs();
	}
	.skills__wrap{
		width:100%;		
		text-align: justify;
		font-size: 0.1px;
		&:after{
			content:'';
			width:100%;
			display: inline-block;
		}
		.sk__item{
			vertical-align: top;
			width: @wrapped4ItemsWidth;
			padding: 0 5px;
			display: inline-block;
			text-align: center;
			.progress-radial{
				position:relative;
				width:150px;
				height:150px;
				border-radius: 50%;
				margin:0 auto;
				//border: 1px solid #dfe8ed;
				.loop(90, #30bae7);
				.loop(75, #d74680);
				.loop(70, #15c7a8);
				.loop(85, #eb7d4b);
				@media @tabletLarge{
					width:130px;
					height:130px;	
				}
				@media @tablet{
					width:115px;
					height:115px;	
				}
				@media @mobileLandscape{
					width:85px;
					height:85px;
				}
				@media only screen and (max-width:420px){
					width:75px;
					height:75px;
				}
				@media @mobile{
					width:60px;
					height:60px;
				}

				.overlay{
					position: absolute;
					width:120px;
					height:120px;
					background-color: #fff;
					border-radius: 50%;
					//border: 1px solid #dfe8ed;
					top:50%;
					left:50%;
					transform: translate(-50%, -50%);
					text-align: center;
					line-height: 120px;
					font-size: 50px;
					@media @tabletLarge{
						width:100px;
						height:100px;
						line-height: 100px;
						font-size: 40px;	
					}
					@media @tablet{
						width:85px;
						height:85px;
						line-height: 85px;
						font-size: 30px;	
					}
					@media @mobileLandscape{
						width:65px;
						height:65px;
						line-height: 65px;
						font-size: 20px;
					}
					@media only screen and (max-width:420px){
						width:55px;
						height:55px;
						line-height: 55px;
					}
					@media @mobile{
						width:40px;
						height:40px;
						line-height: 40px;
						font-size: 15px;
					}
				}
			}


			&__title{
				font: 700 18px/18px 'Titillium Web', arial, sans-serif;
				text-transform: uppercase;
				margin-top: 60px;
				@media @tabletLarge{
					margin-top: 50px;
				}
				@media @tablet{
					margin-top: 45px;
				}
				@media @mobileLandscape{
					font: 700 16px/16px 'Titillium Web', arial, sans-serif;
					margin-top: 35px;
				}
				@media @mobile{
					font: 700 13px/13px 'Titillium Web', arial, sans-serif;
					margin-top: 20px;
				}	
			}			
		}	
	}

}

/*Portfolio block*/

#portfolio{
	background-color: #fd9;
	.paddingSection();
	.text-align();
	.title{
		.titles();
		&:after{
			.titleUnderline();
		} 
	}
	.descr{
		.descrs();
		margin-bottom: 40px;
		@media @tablet{
			margin-bottom: 20px;
		}
	}	
	.portfolio__nav{
		display: inline-block; // think how to center with nav remaining block;
		margin: 0 auto 70px; // center the navigation
		@media @tablet{
			margin-bottom: 50px;
		}
		li{
			.left();			
			margin-right:10px;
			&:last-child{
				margin-right:0;
			}
			a{
				display: block;
				background-color: rgba(0,0,0,0.08);
				padding: 5px 10px;
				font: 16px/18px 'Titillium Web', arial, sans-serif;
				color: #000;
				text-transform: uppercase;
				border-radius: 4px;
				@media @tablet{
					font: 14px/14px 'Titillium Web', arial, sans-serif;
					padding: 4px 8px;
			  }
				&:hover{
				background-color: #fff;
				}
			}	
		}
	}
	.portfolio__wrap{
		width:100%;		
		text-align: justify;
		font-size: 0.1px;
		&:after{
			content:'';
			width:100%;
			display: inline-block;
		}
		.p__item{
			vertical-align: top;
			display: inline-block;
			text-align: center;
			margin-bottom: 60px;			
			width: @wrapped2ItemsWidth;
			img{
				width:100%;
			}
			a:hover{
				opacity:0.6;
			}
			&__title{
				margin-top: 30px;
				font: 18px/18px 'Titillium Web', arial, sans-serif;
				@media @tablet{
					margin-top: 20px;
					font: 16px/16px 'Titillium Web', arial, sans-serif;
				}
			}
		}
	}
	.portfolio__button{
		background-color: #17c2a4;
		padding: 25px 80px;
		color: #fd9;
		font: 18px/26px 'Titillium Web', arial, sans-serif;
		text-transform: uppercase;
		cursor: pointer;
		display: inline-block;
		border-radius: 4px;
		box-shadow: inset 0px -4px rgba(0,0,0,0.15);
		@media @tabletLarge{
			padding: 20px 50px;
		}
		@media @tablet {
			padding: 15px 40px;
		}

	}
}	

/*About block*/

#about{
	background-color: #d74680;
	color:@textMainColor;
	.paddingSection();
	.text-align();
	.title{
		.titles();
		&:after{
			.titleUnderline();
		} 
	}
	.descr{
		.descrs();
	}	
	.about__wrap{
		&__section{
			width:100%;		
			text-align: justify;
			font-size: 0.1px;
			&:after{
				content:'';
				width:100%;
				display: inline-block;
			}
		}
		.a__item{
			width: @wrapped2ItemsWidth;
			vertical-align: top;
			display: inline-block;
			text-align: center;
			padding:5px;
			&.bottom{
				//margin-top: 120px;
			}
			@media @tabletLarge {
				&.bottom{
					//margin-top: 100px;
				}
			}
			@media @tablet {
				&.bottom{
					//margin-top: 80px;
				}
			}
			@media @mobileLandscape{
				float:none;
				width:100%;
				margin-top:0;
				margin-right:0;
				padding-bottom: 20px;
				&.bottom{
					margin-right:0;
					margin-top: 0;
				}
				&.bottom.nomarg{
					padding-bottom: 0;
				}
			}
			&__img{
				float:left;
				height: 100px;
				width: 100px;
				border-radius: 50%;
				background: #878787;
				overflow:hidden;
				@media @tabletLarge{
					width:90px;
					height:90px;
				}
				@media @tablet{
					width:85px;
					height:85px;
				}

				img{				
					height:100%;
					width:100%;
					line-height:100px; // adjust to media
					@media @tabletLarge{
						line-height:90px
					}
				}
			}
			&__text{
				padding-left: 150px;
				text-align: left;
				@media @tabletLarge{
					padding-left: 120px;
				}

				p{
					font: italic 21px/31px 'Titillium Web', arial, sans-serif;
					margin-bottom: 10px;
					@media @tabletLarge{
						font: italic 19px/25px 'Titillium Web', arial, sans-serif;
					}
					@media @tablet{
						font: italic 17px/23px 'Titillium Web', arial, sans-serif;
						margin-bottom: 5px;
					}
					@media @mobileLandscape{
						font: italic 15px/20px 'Titillium Web', arial, sans-serif;
						margin-bottom: 5px;
					}
				}
				.person{
					text-transform: uppercase;
					color: #fff;
					font: 400 24px/26px 'Titillium Web', arial, sans-serif;
					@media @tablet{
						font: 400 20px/22px 'Titillium Web', arial, sans-serif;
					}
					@media @mobileLandscape{
						font: 400 18px/20px 'Titillium Web', arial, sans-serif;
					}
				}
				.pos{
					color: #fd9;
					font: 400 18px/26px 'Titillium Web', arial, sans-serif;
					@media @tablet{
						font: 400 16px/18px 'Titillium Web', arial, sans-serif;
					}
					@media @mobileLandscape{
						font: 400 14px/16px 'Titillium Web', arial, sans-serif;
					}
				}
			}
		}
	}
}	

			/*Contacts block*/
#contacts{
	background-color: #3c5499;
	color:@textMainColor;
	.paddingSection();
	.text-align();
	.title{
		.titles();
		&:after{
			.titleUnderline();
		} 
	}
	.descr{
		.descrs();
	}	
	.contacts__button{
		-webkit-appearance: none; // mac browsers styling
		border:none;
		background-color: #30bae7;
		padding: 25px 80px;
		margin-top: 60px;
		color: #fff;
		font: 18px/26px 'Titillium Web', arial, sans-serif;
		text-transform: uppercase;
		cursor: pointer;
		display: inline-block;
		border-radius: 4px;
		box-shadow: inset 0px -4px rgba(0,0,0,0.15);
		@media @tabletLarge{
			padding: 20px 50px;
		}
		@media @tablet {
			padding: 15px 40px;
		}
	}	
	.inputsInfo,.inputsMessage{
		width: @inputsWidth;
		margin: 0 auto;
	}
	.inputsInfo{
		margin-bottom: 25px;
		input{
			float:left;
			width:48%;
			height:60px;
			margin-right: 4%;
			padding:20px;
			border: none;
			background-color: #273a71;
			border-radius: 4px;
			color: @textMainColor;
			@media @mobileLandscape{
				float: none;
				width: 100%;
				height: 40px;
				margin-right: 0;
				&[type="email"]{
					margin-bottom: 25px;
				}
			}
			&:nth-child(2){
				margin-right: 0;
			}
			&[placeholder]{
				font: 400 18px 'Titillium Web', arial, sans-serif;	
				@media @mobileLandscape{
					font: 400 16px 'Titillium Web', arial, sans-serif;	
				}
			}
		}
	}
	.inputsMessage{	
		textarea{
			background-color: #273a71;
			width:100%;
			height:200px;
			padding:20px;
			border:none;
			border-radius: 4px;
			color:@textMainColor;
			&[placeholder]{
				font: 400 18px/18px 'Titillium Web', arial, sans-serif;	
				@media @mobileLandscape{
					font: 400 16px/18px 'Titillium Web', arial, sans-serif;	
				}
			}
		}
	}	
}	

								/*Footer*/
#footer{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #c7d6d6;
	text-align: center;
	@media @tablet{
	padding-top: 30px;
	padding-bottom: 30px;
	}
	@media @mobileLandscape{
	padding-top: 20px;
	padding-bottom: 20px;
	}
	.footer__nav{
	width:100%;		
	text-align: justify;
	font-size: 0.1px;
		&:after{
			content:'';
			width:100%;
			display: inline-block;
		}
	a{
		padding:5px;
		display: inline-block;
		color: #273a71;
		font: 600 24px/30px 'Titillium Web', arial, sans-serif;
		@media @tabletLarge{	
			font: 600 21px/25px 'Titillium Web', arial, sans-serif;
		}
		@media @tablet{
			font: 600 18px/22px 'Titillium Web', arial, sans-serif;
		}
		@media @mobileLandscape{
			font: 600 16px/20px 'Titillium Web', arial, sans-serif;
		}		
		&:hover{
			color: #30bae9;
		}
		&:active{
			background-color: rgba(0,0,0,0.4);
			border-radius:4px;
		}
	}
	}
}




